choice
    prompt "Architecture"
    default ARM

config ARM
    bool "ARM architecture"

config X86_64
    bool "x86_64 architecture"

endchoice

source "src/arch/arm/Kconfig"
source "src/arch/x86_64/Kconfig"
