if X86_64

config TARGET_ARCH
    string
    default "x86_64"

config TARGET_CC
    string
    default "x86_64-elf-gcc"

config TARGET_AS
    string
    default "x86_64-elf-as"

config TARGET_LD
    string
    default "x86_64-elf-ld"

config NO_BOARD
    bool
    default y

endif
